#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

#footer {
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 20px 0;
  font-size: 14px;
  position: absolute;
  bottom: 0;
  width: 100vh;
}

#footer a {
  color: #fff;
  text-decoration: none;
} 

#footer a:hover {
  text-decoration: underline;
}

.navbar {
  background-color: #333;
  color: #fff;
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100vw;
  max-width: 1168px;
  margin: 0 auto;
}

.navbar ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}

.navbar li {
  margin-right: 20px;
}

.navbar a {
  color: #fff;
  text-decoration: none;
}

.navbar span {
  font-size: 18px;
  font-weight: bold;
}

.nav-left {
  display: flex;
  align-items: center;
}

.nav-right {
  display: flex;
  align-items: center;
  margin-left: auto;
}

.container {
  max-width: 1280px;
  margin: 0 auto;
  padding: 0 2rem;
}

.card-pizza {
  border: 1px solid #ddd;
  padding: 20px;
  margin: 20px;
  width: 250px;
  height: 350px;
  display: inline-block;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.card-info {
  margin-top: 20px;
}

.card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.card-buttons {
  display: flex;
  justify-content: space-between;
  padding: 10px;
}

.ver-mas-button {
  background-color: #4CAF50;
  color: #fff;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
}

.anadir-button {
  background-color: #FFC107;
  color: #0c0b0b;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
}

.cart-container {
  max-width: 800px;
  margin: 40px auto;
  padding: 20px;
  background-color: #f9f9f9;
  border: 1px solid #ddd;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.cart-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.cart-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  border-bottom: 1px solid #ddd;
}

.cart-image {
  width: 100px;
  height: 100px;
  margin-bottom: 20px;
}

.cart-info {
  text-align: center;
}

.cart-info h3 {
  margin-bottom: 10px;
}

.cart-actions {
  margin-top: 20px;
}

.cart-actions button {
  width: 30px;
  height: 30px;
  font-size: 18px;
  margin: 0 10px;
}

.buy-button {
  background-color: #4CAF50;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 20px;
}

.buy-button:hover {
  background-color: #3e8e41;
}

.hover-effect {
  transition: transform 0.2s ease-in-out;
}

.hover-effect:hover {
  transform: scale(1.1);
  cursor: pointer;
}


.cart-image2 {
  width: 15px !important;
  height: 15px !important;
  border-radius: 50%;
  margin-right: 10px;
  object-fit: cover;
}

.cart-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.cart-list li {
  display: flex;
  align-items: center;
  padding: 10px;
  border-bottom: 1px solid #ccc;
}

.cart-image {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  margin-right: 10px;
  object-fit: cover;
}

.cart-info {
  flex-grow: 1;
}

.cart-name {
  font-weight: bold;
  font-size: 16px;
}

.cart-price {
  font-size: 14px;
  color: #666;
}

.cart-quantity {
  font-size: 14px;
  color: #666;
  margin-left: 10px;
}


.buy-button {
  background-color: #4CAF50;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-bottom: 10px;
}

.buy-button:hover {
  background-color: #3e8e41;
}